@media screen and (max-width: px) {
  .flex_container {
    flex-direction: column;
    padding: 10px;
  }

  .contact_pictures {
    display: none;
  }
  .rounded_card {
    width: 100%;
  }
  .navbar_Mobile {
    flex-direction: row !important;
  }
  .nav_item {
    padding: 10px;
  }
}
